.MainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 92.5vh;
  text-align: center;
  transform: translateY(-90px);


  h1 {
    font-size: 12rem;
  }

  h2 {
    font-size: 2rem;
  }
}
 
  